div.num_post_list{
	padding: 10px !important;
	margin: 0px;
	width: 90%;
}
<<<<<<< .mine
div.num_post_list #anp_credit{
	font-size: 10px;
	clear: both;
}
div.num_post_list div.post {
=======
#anp_credit{
	font-size: 10px;
	clear: both;
}
div.post {
>>>>>>> .r602613
	width: 100%;
	font-size: 13px;
	margin: 0px !important;
	float: left;
	padding: 5px 0px!important;
	display: inline !important;
	color: #0f0f0f;
	position: relative;
	line-height: 17px !important;
	clear: both;
	border: none !important;	
}
<<<<<<< .mine
div.num_post_list div.post a{
=======
div.post a{
>>>>>>> .r602613
	padding: 0px 10px;
	color: #0f0f0f;
	display: block;
	margin: 0px !important;
}
<<<<<<< .mine
div.num_post_list div.tex_anp{
	padding: 9px 0px;
	width: 100%;
}
div.num_post_list div.post a:hover{
=======
div.tex_anp{
	padding: 9px 0px;
	width: 100%;
}
div.post a:hover{
>>>>>>> .r602613
	padding: 0px 10px;
	color: #fff;
	display: block;
}
<<<<<<< .mine
div.num_post_list div.num_com{
	float: right;
	padding: 5px 12px;
	position: relative;
	bottom: 5px;
	left: 15px;
	background-color: #534e4e;
	color: #fff;
}
=======
div.num_com{
	float: right;
	padding: 5px 12px;
	position: relative;
	bottom: 5px;
	left: 15px;
	background-color: #534e4e;
	color: #fff;
}
>>>>>>> .r602613
.a1{
	background: rgba(0, 61,107, 0.85) !important;
	width: 100%;
	
}
.a2{
	background: rgba(0, 69, 132, 0.85)!important;
	width: 95% !important;
	position: relative;
	bottom: 6px;

}
.a3{
	background: rgba(0, 84,160, 0.85)!important;
	width: 90% !important;
	position: relative;
	bottom: 12px;
	
}
.a4{
	background: rgba(17, 86, 165, 0.85)!important;
	width: 85% !important;
	position: relative;
	bottom: 18px;
}
.a5{
	background: rgba(0, 91,191, 0.85)!important;
	width: 80% !important;
	position: relative;
	bottom: 24px;

}
.a6{
	background: rgba(0, 81,186, 0.85)!important;
	width: 75% !important;
	position: relative;
	bottom: 30px;
}
.a7{
	background: rgba(0, 142,214, 0.85)!important;
	width: 70% !important;
	position: relative;
	bottom: 36px;
}
.a8{
	background: rgba(117,178,221, 0.85)!important;
	width: 65% !important;
	position: relative;
	bottom: 42px;
}
.a9{
	background: rgba(122, 188, 226, 0.85) !important;
	width: 60% !important;
	position: relative;
	bottom: 48px;
}
.a10{
	background: rgba(168,206,226, 0.85) !important;
	width: 55% !important;
	position: relative;
	bottom: 54px;
}
