div.num_post_list{
	padding: 10px !important;
	margin: 0px;
	width: 90%;
}
#anp_credit{
	font-size: 10px;
	clear: both;
}
div.post {
	width: 100%;
	font-size: 13px;
	margin: 0px !important;
	float: left;
	padding: 5px 0px!important;
	display: inline !important;
	color: #0f0f0f;
	position: relative;
	line-height: 17px !important;
	clear: both;
	border: none !important;	
}
div.post a{
	padding: 0px 10px;
	color: #0f0f0f;
	display: block;
	margin: 0px !important;
}
div.tex_anp{
	padding: 9px 0px;
	width: 100%;
}
div.post a:hover{
	padding: 0px 10px;
	color: #fff;
	display: block;
}
div.num_com{
	float: right;
	padding: 5px 12px;
	position: relative;
	bottom: 5px;
	left: 15px;
	background-color: #534e4e;
	color: #fff;
}
.a1{
	background: rgba(187, 5, 5, 0.85) !important;
	width: 100%;
}
.a2{
	background: rgba(249, 30, 30, 0.85) !important;
	width: 95% !important;
	position: relative;
	bottom: 6px;
}
.a3{
	background: rgba(249, 88, 88, 0.85) !important;
	width: 90% !important;
	position: relative;
	bottom: 12px;
}
.a4{
	background: rgba(230, 182, 5, 0.85) !important;
	width: 85% !important;
	position: relative;
	bottom: 18px;
}
.a5{
	background: rgba(251, 210, 58, 0.85) !important;
	width: 80% !important;
	position: relative;
	bottom: 24px;
}
.a6{
	background: rgba(238, 247, 19, 0.85) !important;
	width: 75% !important;
	position: relative;
	bottom: 30px;
}
.a7{
	background: rgba(239, 246, 67, 0.85) !important;
	width: 70% !important;
	position: relative;
	bottom: 36px;
}
.a8{
	background: rgba(5, 112, 218, 0.85) !important;
	width: 65% !important;
	position: relative;
	bottom: 42px;
}
.a9{
	background:  rgba(68, 160, 250, 0.85) !important; 
	width: 60% !important;
	position: relative;
	bottom: 48px;
}
.a10{
	background:  rgba(101, 177, 251, 0.85) !important;
	width: 55% !important;
	position: relative;
	bottom: 54px;
}

